<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flag.name %>
</p>

<p>
  <strong>Flag type:</strong>
  <%= @flag.flag_type %>
</p>

<%= link_to 'Edit', edit_flag_path(@flag) %> |
<%= link_to 'Back', flags_path %>
